asttokens==2.4.1
backcall==0.2.0
Brotli @ file:///C:/b/abs_3d36mno480/croot/brotli-split_1714483178642/work
certifi @ file:///C:/b/abs_7bbxxprxir/croot/certifi_1720453609121/work/certifi
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.1.1
cv==1.0.0
cycler==0.12.1
decorator==5.1.1
einops==0.8.0
executing==2.0.1
filelock @ file:///C:/b/abs_f2gie28u58/croot/filelock_1700591233643/work
flatbuffers==24.3.25
fonttools==4.53.1
fsspec==2024.6.1
gmpy2 @ file:///C:/ci/gmpy2_1645456279018/work
humanfriendly==10.0
idna @ file:///C:/b/abs_aad84bnnw5/croot/idna_1714398896795/work
importlib_resources==6.4.0
intel-openmp==2021.4.0
ipdb==0.13.13
ipython==8.12.3
jedi==0.19.1
Jinja2 @ file:///C:/b/abs_92fccttino/croot/jinja2_1716993447201/work
kiwisolver==1.4.5
kornia==0.7.3
kornia_rs==0.1.5
# Editable install with no version control (lightglue==0.0)
-e c:\users\user\desktop\stir\stirmetrics-main\src\lightglue
MarkupSafe @ file:///C:/b/abs_ecfdqh67b_/croot/markupsafe_1704206030535/work
matplotlib==3.7.5
matplotlib-inline==0.1.7
mkl==2021.4.0
mkl-fft @ file:///C:/b/abs_19i1y8ykas/croot/mkl_fft_1695058226480/work
mkl-random @ file:///C:/b/abs_edwkj1_o69/croot/mkl_random_1695059866750/work
mkl-service==2.4.0
mpmath @ file:///C:/b/abs_7833jrbiox/croot/mpmath_1690848321154/work
networkx @ file:///C:/b/abs_e6gi1go5op/croot/networkx_1690562046966/work
numpy @ file:///C:/Users/dev-admin/mkl/numpy_and_numpy_base_1682982345978/work
onnxruntime==1.18.1
opencv-contrib-python==4.5.5.62
opencv-python==4.5.5.64
packaging==24.1
parso==0.8.4
pickleshare==0.7.5
pillow @ file:///C:/b/abs_32o8er3uqp/croot/pillow_1721059447598/work
prompt_toolkit==3.0.47
protobuf==5.27.2
pure-eval==0.2.2
pycocotools==2.0.7
Pygments==2.18.0
pyparsing==3.1.2
pyreadline3==3.4.1
PySocks @ file:///C:/ci/pysocks_1605287845585/work
python-dateutil==2.9.0.post0
requests @ file:///C:/b/abs_9c5n24p1y7/croot/requests_1716902867639/work
scipy==1.10.1
six==1.16.0
stack-data==0.6.3
STIRLoader @ file:///C:/Users/User/Desktop/Stir/STIRMetrics/STIRLoader
sympy @ file:///C:/b/abs_82njkonm7f/croot/sympy_1701397685028/work
tbb==2021.13.0
tomli==2.0.1
torch==2.0.0
torchaudio==2.0.0
torchvision==0.15.0
tqdm==4.66.4
traitlets==5.14.3
typing_extensions @ file:///C:/b/abs_0as9mdbkfl/croot/typing_extensions_1715268906610/work
urllib3 @ file:///C:/b/abs_a7hvzm4y95/croot/urllib3_1718912661242/work
wcwidth==0.2.13
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306167264/work
zipp==3.19.2
